.selectedCountryPage {
  width: 1200px;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  gap: 100px;
}

.selectedCountryName {
  color: #444343;
}

.selectedCountryDescription {
  width: 100%;
  color: #444444;
  height: 400px;
}

.icons {
  display: flex;
  gap: 20px;
}

.icon {
  cursor: pointer;
}

.iconBackground {
  background-color: #f0f0f0;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
